:root {
  --color-dark: #3c3c3c;
  --color-red-light: #ff5964;
  --color-blue: #0b66ff;
  --color-gray: #ddd;
  --color-gray-light: #f9f9f9;
  --color-white: #fff;
  --color-green: #00d1b2;
  --border-radius-base: 5px;
  --border-radius-circle: 50%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: var(--color-dark);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: var(--color-gray-light);
}

ul {
  list-style: none;
  padding-left: 0;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 1.5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-gray);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.input-group {
  display: flex;
}

.input-group input,
.btn {
  padding: 0.875rem 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--border-radius-base);
}

.input-group input {
  width: 100%;
  border-color: var(--color-gray);
}

.btn {
  min-width: 120px;
  border-color: var(--color-blue);
  background: var(--color-blue);
  color: var(--color-white);
}

.btn:disabled {
  opacity: 0.5;
}

.list {
  max-width: 500px;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.checked {
  opacity: 0.5;
  text-decoration: line-through;
}

.checkbox {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-gray);
  border-radius: var(--border-radius-base);
  cursor: pointer;
}

.checkbox:after {
  content: '';
  position: absolute;
  display: block;
  opacity: 0;
  top: 0;
  left: 7px;
  width: 6px;
  height: 14px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--color-green);
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.checkbox:checked::after {
  transition: border-right-width 0.2s ease;
  border-right-width: 3px;
  opacity: 1;
}

.container label {
  margin-left: 8px;
  cursor: pointer;
}

.btn-icon {
  color: var(--color-dark);
  padding: 0.5rem;
  width: 38px;
  height: 38px;
  background: transparent;
  border: none;
  border-radius: var(--border-radius-circle);
}

.btn-icon:hover {
  background: var(--color-gray);
  transition: 0.4s all ease-out;
}

.error {
  margin-top: 8px;
  font-size: 14px;
  color: var(--color-red-light);
}

/* Utilities */
.m-0 {
  margin: 0;
}

.mr-3 {
  margin-right: 1rem;
}

.mt-5 {
  margin-top: 2rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
