<form
  id="task-list-form"
  class="mb-5"
  ng-submit="vm.onAddTask()"
  name="taskListForm"
  novalidate
>
  <div class="input-group">
    <input
      id="task-name"
      type="text"
      name="taskName"
      ng-model="vm.taskName"
      placeholder="Ex.: Comprar vinho"
      class="mr-3"
      required
    />
    <button
      ng-disabled="taskListForm.$invalid"
      id="add-task-btn"
      class="btn"
      type="submit"
    >
      Adicionar
    </button>
  </div>

  <p
    id="error-message"
    class="error"
    ng-show="taskListForm.taskName.$invalid && !taskListForm.taskName.$pristine"
  >
    Favor preencher o campo
  </p>
</form>

<h2 class="m-0" ng-show="vm.tasks.length">
  Lista de tarefas
</h2>

<ul class="list" id="task-list">
  <li ng-repeat="task in vm.tasks">
    <div class="d-flex align-center">
      <input
        id="{{ task.id }}"
        class="checkbox"
        type="checkbox"
        ng-model="task.checked"
      />
      <label for="{{ task.id }}" ng-class="task.checked ? 'checked' : ''">
        {{ task.name }}
      </label>
    </div>

    <button type="button" class="btn-icon" ng-click="vm.onDeleteTask(task.id)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </li>
</ul>
